<%= provide(:title, "Data Statistics") %>

<%= render "layouts/header_others" %>

<!-- start Stat Section -->
<section id="stat_sec">
<div class="container">
	<div class="row">
    <br/><br/>
		<div class="title_sec">
				<h1>DATA STATISTICS</h1>
				<h2>WE’RE TWITTER FACTCHECKER GROUP FROM INSA RENNES</h2>
		</div>	
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="counting_sl">
			<i class="fa fa-desktop"></i>
			<h2 class="counter">22,210</h2>
			<h4>Propagation Hours</h4>	
			</div>
		</div>			
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="counting_sl">
			<i class="fa fa-group"></i>
			<h2 class="counter">9,723</h2>
			<h4>Impacted Persons</h4>	
			</div>
		</div>			
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="counting_sl">
			<i class="fa fa-ticket"></i>
			<h2 class="counter">10,753</h2>
			<h4>User Votes</h4>	
			</div>
		</div>			
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<div class="counting_sl">
			<i class="fa fa-clock-o"></i>
			<h2 class="counter">15,500</h2>
			<h4>Hours To Become Viral</h4>	
			</div>
		</div>	
		<div class="chart_sec">
			<!--Table and divs that hold the pie charts-->
    		<table class="rows">
      		<tr>
        		<td><div id="veracityChart"></div></td>
        		<td><div id="sentimentChart"></div></td>
      		</tr>
    		</table>		
		</div>							
	</div>	
</div>
</section>
<!-- End Stat Section -->
