<% content_for :body_class, 'home_body' %>

<div class="home">
  <div class="container">
    <h1>Twitter Fact Checking</h1>
    <h4>Twitter fact checking app prototype</h4>

    <%= form_tag action: "search_tweets"%>
      <div class="row">
        <div class="col-lg-9 col-sm-9"><%= text_field_tag "keywords", "", placeholder:"Mots-clés", class:"form-control" %></div>
        <div class="col-lg-3 col-sm-3"><%= submit_tag "Rechercher" , class:"btn btn-success form-control"%></div>
      </div>
  </div>
</div>
