/* Place all the styles related to the pages controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/*/

/*
@import "bootstrap";

body{
  box-sizing: border-box;
  font-family: 'Abel';
  font-size: 18px;
}

h1{
  font-family: 'Press Start 2P'
}

a,
a:active,
a:visited,
a:focus,
a:hover{
  color: #1da1f2;
}

//---------- Home page ----------
.home_body{
  background-color: #1da1f2;
  background-image: url("background_twitter_blur.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-attachment: fixed;
  color: white;

  .home{
    text-align: center;

    h1{
      text-transform: uppercase;
      margin-top: 0;
    }

    .container{
      display: inline-block;
      line-height: 1.5;
    }

    .logo_home{
      height: 250px;
      width: 250px;
    }
  }
}


form{
  text-align: center;

  .search-elem.search-container{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-sizing: content-box;
    display: inline-block;
    height: 30px;
    margin-top: 20px;
    padding: 30px;
    transition: 0.3s;
    width: 80%;
  }

  .search-elem.search-container:hover,
  .search-elem.search-container:focus{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px #555;
    transition: 0.3s;
    width: 100%;
  }

  .search-elem.search-input{
    vertical-align: middle;
  }

  .search-elem.search-submit{
    color: #ccc;
    transition: 0.2s;
    vertical-align: middle;

    .search-icon{
      bottom: 0;
      left: 50%;
      font-size: 30px;
      margin-left: -15px;
      position: absolute;
    }
  }

  .search-elem.search-submit:hover,
  .search-elem.search-submit:focus{
    color: #1da1f2;
    transition: 0.2s;
  }

  input[type="text"].search-elem,
  input[type="text"].search-elem:hover,
  input[type="text"].search-elem:focus{
    background-color: transparent;
    border: none;
    color: #1da1f2;
    font-family: 'Montserrat';
    font-size: 30px;
    height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
  }

  input[type="submit"].search-elem{
    background: transparent;
    border: none;
    height: 30px;
    padding: 0;
    width: 100%;
  }
}





//---------- Search Tweets page ----------

.search_tweets_body{
  header{
    background-color: #1fa1f2;
    box-shadow: 0 0 20px #555;
    color: white;
    padding: 20px 0;

    .header_logo{
      display: inline-block;
      vertical-align: middle;

      img{
        height: 90px;
        width: auto;
      }
    }

    .header_title{
      display: inline-block;
      vertical-align: middle;
    }
  }

  .tweet{
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px 20px;

    .keyword{
      font-weight: bold;
      color: #1da1f2;
    }
  }
}
*/
