<!-- SEARCH FORM -->
<div id="search-form" class="pull-right">
  <form method="post" action="<%= get_path_for_search %>">
    <%= text_field_tag 'keywords', '', placeholder:'Search', required: 'true', autocomplete: 'off' %>
  </form>
</div><!-- SEARCH FORM -->